@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSans";
  src: url("/fonts/IRANSans.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans";
  src: url("/fonts/IRANSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  background: #f7efe5;
  color: var(--foreground);
}
