@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hidin */
.hidden-scroll {
  scrollbar-width: none; /* Firefox */
}

.hidden-scroll::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* animate for drawer */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

@font-face {
  font-family: "IRANSans";
  src: url("/fonts/IRANSans.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans";
  src: url("/fonts/IRANSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  background: #f7efe5;
  color: var(--foreground);
}
